html {
    background-color: black;
}

h1 {
    font-size: 20px;
    font-family: cursive;
    color: rgb(0, 134, 211);
    text-align: center;
}
h2 {
    font-size: 16px;
    font-family: cursive;
    color: rgb(0,217,255);
    text-align: center;
}

p {
    text-align: left;
    color: white;
    font-size: 12px;
}

b {
    color:rgb(0,217,255);
}

ol {
    color: white;
}
ul {
    color: white;
}
a {
    color: rgb(0, 134, 211);

}
